PORT= 
NODE_ENV=
IS_LOCALHOST= false

JWT_SECRET= [alguma chave secreta e única]

DATABASE_HOST = localhost
DATABASE_USER = postgres
DATABASE_NAME = mercafacil
DATABASE_PORT = 5432
DATABASE_PASSWORD = 1234